<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tooday.css">

    <script src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript" src="./bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="tooday.js"></script>

    <title>Tooday home page</title>
</head>

<body class="container-fluid" ng-app="myApp">
    <div class="row">
        <ul class="sidebar-left col-xs-1">
            <li class="logo">
                <img src="./assets/images/fit_logo.120x120.png" alt="">
            </li>
            <li class="home">
                <a>
                    <i class="fa fa-home"></i>
                    <div class="text">首页</div>
                </a>

            </li>
            <li class="search">
                <a>
                    <i class="fa fa-search"></i>
                    <div class="text">搜索</div>
                </a>

            </li>
            <li class="blank test">

            </li>

            <li class="user">
                <a><i class="fa fa-user"></i></a>
                <ul class="login-register">
                    <li class="login"><a>登录</a></li>
                    <li class="register"> <a>注册</a></li>
                </ul>
            </li>
            
            <li class="info">
                <a><i class="fa fa-info-sign"></i></a>
                <a class="about">关于fit</a>
            </li>
            <li class="reply">
                <a>
                    <i class="fa fa-reply"></i>
                    <div class="text" ng-class="red">回到主页</div>
                </a>
            </li>

        </ul>

        <div class="content col-xs-10">
        <div class="container-fluid">
            <ul class="row" ng-controller="postCtrl">
                <li class="post col-xs-10 col-sm-6 col-md-3" ng-repeat="post in posts track by $index">
                    <div class="post-pic">
                        <a>
                            <img ng-src="{{post.image}}" />
                        </a>
                    </div>
                    <div class="other">
                        <div class="post-info row">
                            <div class="col-xs-2">
                                <i class="fit fit-icon-{{post.icon}}"></i>
                            </div>
                            <div class="author-time col-xs-10">
                                <a>{{post.author}}</a>
                                //{{post.time}}
                            </div>
                        </div>
                        <div class="post-title">
                            <a>{{post.title}}</a>
                        </div>
                        <div class="post-tag">
                            <i class="fa fa-map-marker"></i>
                            <b>{{post.location}}  <a>{{post.tag}}</a></b>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>

        <ul class="sidebar-right col-xs-1" ng-controller="iconsCtrl">
            <li class="cloth" ng-repeat="icon in icons track by $index">
                <a>
                    <i class="fit fit-icon-{{icon.name}}"></i>
                    <div class="text">{{icon.description}}</div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
