* {
    box-sizing: border-box;
    font-family: FontAwesome;
}

body {
    margin: 0px;
    color: #969696;
}

body ul {
    margin: 0px;
}

.glyphicon {
    display: inline-block;
}

.sidebar-left, .sidebar-right {
    position: fixed;
}

.sidebar-left a, .sidebar-right a {
    width: 100%;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px solid;
}

.sidebar-left a:hover, .sidebar-right a:hover {
    color: white;
    background-color: #ccc6b8;
}

.sidebar-left {
    background-color: pink;
    padding-right: 0px;
    text-align: center;
    list-style: none;
}

.sidebar-left img {
    width: 100%;
}

.sidebar-left .blank {
    height: 310px;
}

.sidebar-left .reply a {
    border-bottom: none;
}

.content {
    list-style-type: none;
    padding: 20px 0px;
    background-color: gainsboro;
}

.content .post {
    background-color: gainsboro;
    padding: 7.5px 7.5px;
    border-radius: 3px;
}

.content .post * {
    background-color: white;
}

.content .post a {
    text-decoration: none;
    cursor: pointer;
}

.content .post a:hover {
    color: #f05a24;
}

.content .post .post-pic {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.content .post .post-pic img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.content .post .post-info {
    padding: 5px 0 2px 0;
    text-align: right;
    border-bottom: 1px solid;
}

.content .post .post-info span {
    display: inline-block;
    vertical-align: middle;
}

.content .post .post-info .author-time {
    font-size: 12px;
}

.content .post .post-title {
    font-size: 14px;
    line-height: 1.4;
    padding-left: 10px;
    color: black;
}

.content .post .post-tag {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: right;
    padding-right: 12px;
    padding: 10px 12px 10px 0;
    font-size: 12px;
}

.sidebar-right {
    background-color: orange;
    right: 0px;
    text-align: center;
    padding-left: 0px;
    font-size: 12px;
    list-style: none;
}

.sidebar-right li {
    width: 100%;
}
