* {
    box-sizing: border-box;
    font-family: FontAwesome;
}

body {
    margin: 0px;
    color: #969696;
}

.glyphicon {
    display: inline-block;
}

.sidebar-left {
    text-align: center;
    list-style: none;
    padding-left: 15px;
}

.sidebar-left * {
    width: 100%;
}

.sidebar-left a {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px solid;
}

.sidebar-left a:hover {
    color: white;
    background-color: #ccc6b8;
}

.sidebar-left .blank {
    height: 360px;
}

.sidebar-left .reply a {
    border-bottom: none;
}

.content {
    list-style-type: none;
    padding-top: 20px;
    background-color: gainsboro;
}

.content .post {
    background-color: gainsboro;
    a: hover;
    a-color: #f05a24;
    padding: 7.5px 7.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.content .post * {
    background-color: white;
}

.content .post a {
    text-decoration: none;
}

.content .post .post-pic img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.content .post .post-info {
    padding: 5px 0 2px 0;
    text-align: right;
    border-bottom: 1px solid;
}

.content .post .post-info .author-time {
    font-size: 12px;
}

.content .post .post-title {
    font-size: 14px;
    line-height: 1.4;
    padding-left: 10px;
    color: black;
}

.content .post .post-tag {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: right;
    padding-right: 12px;
    padding: 10px 12px 10px 0;
    font-size: 12px;
}

.sidebar-right {
    list-style: none;
    background-color: blue;
}

.sidebar-right .cloth .fit-icon-cloth {
    background: transparent url("../images/icon-all.png") -28px -38px no-repeat;
}
